# Importing data and packages

In [1]:
import pandas as pd

In [3]:
#reading the data and resetting index
df = pd.read_csv('../data/DPC_speeches.csv')
df = df.reset_index().iloc[:,2:]

In [4]:
#reading Oli's list of FT members
ft_mem = pd.read_csv('../data/fm.csv')

In [5]:
#looking at the data
df.head()

,Tale,Starttid,Sluttid,Navn,Rolle,Tekst
0,None,2011-09-30T13:00:16.860,2011-09-30T13:00:28.140,None,midlertidig formand,Mødet er åbnet.
1,None,2011-09-30T13:55:01.640,2011-09-30T13:55:12.063,None,midlertidig formand,Så er mødet genoptaget.
2,None,2011-09-30T13:59:37.437,2011-09-30T13:59:56.640,None,formand,Der er ikke mere at foretage i dette møde.Folk...
3,None,2011-09-30T13:00:28.140,2011-09-30T13:00:52.110,None,midlertidig formand,Forhandlingen er åbnet. Fru Karen Klint.
4,None,2011-09-30T13:00:52.110,2011-09-30T13:05:42.060,Karen J. Klint,medlem,Tak for det. Det er jo dejligt at se så fyldt ...

In [6]:
#checking whether "Tale" is always None
df.Tale.unique()

array(['None'], dtype=object)

In [7]:
#excluding "Tale"
df = df[['Starttid', 'Sluttid', 'Navn', 'Rolle', 'Tekst']]

In [8]:
df.head(1)

,Starttid,Sluttid,Navn,Rolle,Tekst
0,2011-09-30T13:00:16.860,2011-09-30T13:00:28.140,None,midlertidig formand,Mødet er åbnet.

In [9]:
#checking type of the start and end-time
type(df.iloc[0,1])

str

In [10]:
#describing some of the data in the Parliament Corpus
df.describe()

,Starttid,Sluttid,Navn,Rolle,Tekst
count,236966,236966,236966,236966,236966
unique,236966,236958,318,6,152763
top,2010-01-20T15:14:52.480,2011-03-30T15:09:29.513,None,formand,Ordføreren.
freq,1,2,43200,122597,22926

# Adding parties to the politicians

In [11]:
#checking how many unique names in our dataset
xml = list(df.Navn.unique())
len(xml)

318

In [12]:
#Checking how many names in the ft dataset
ft = list(ft_mem.Spørger.unique())
ft = [x[0:-1] for x in ft] #removing whitespace in the end of every name
len(ft)

437

In [13]:
#making a list of the set values
set_ = list(set(xml) & set(ft))

In [14]:
#removing whitespace in the end of every name
ft_mem['Spørger'] = ft_mem['Spørger'].apply(lambda x: x[0:-1])

In [15]:
#filtering out the names that we are looking for which are matching in the list of FT members
match = ft_mem[ft_mem['Spørger'].isin(set_)]
match.head()

    Unnamed: 0 Parti          Spørger  Dato
2            2   ALT   Christian Juhl     1
5            5   ALT   Josephine Fock    26
10          10   ALT     Rasmus Prehn     1
15          15   ALT       Uffe Elbæk    47
17          17    DF  Alex Ahrendtsen   125

In [16]:
df.shape

(236966, 5)

In [17]:
#merging the two dataframes
df_m = df.merge(match, left_on = "Navn", right_on = "Spørger", how='left')

In [18]:
#looking only at specific columns
df_m = df_m[['Starttid', 'Sluttid', 'Navn', 'Rolle', 'Tekst', 'Parti']]

In [19]:
#only looking at relevant names
df_m = df_m[df_m.Navn!='None']

In [20]:
#checking which names does not have a party
df_m[df_m.isnull().Parti].Navn.unique()

array(['Henriette Kjær', 'Simon Emil Ammitzbøll', 'Peter Madsen',
       'Flemming Møller', 'Niels Høiby', 'Tage Leegaard', 'Helle Sjelle',
       'DF', 'Charlotte Sahl-Madsen', 'Per Bisgaard', 'Kurt Scheelsbeck',
       'Anna Kirsten Olesen', 'Erika Lorentsen', 'Peter Juel Jensen',
       'Jens Arne Hedegaard', 'Irene Simonsen', 'Malou Aamund',
       'Nadeem Farooq', 'Ida Damborg', 'Jacob Bjerregaard',
       'Jeppe Mikkelsen', 'Thor Möger Pedersen', 'Hans Vestager',
       'Bjarne Corydon', ', fg.', 'Ane Halsboe-Larsen', 'Mai Henriksen',
       'Marlene B. Lorentzen', 'Camilla Hersom', 'Christian Friis Bach',
       'Lone Loklindt', 'Anne Sina', 'Ulla Sandbæk',
       'Jørn Neergaard Larsen', 'Mie Bergmann', 'Mette Boye',
       'Karen Touborg', 'Linda Kristiansen', 'Kisser Franciska Lehnert',
       'Pernille Boye Koch', 'fg.', 'Annika Smith', 'Sanne Bjørn',
       'Peder Christensen', 'Rasmus Lynghøj', 'Knud Kristensen',
       'Henrik Rasmussen', 'Steen Konradsen', 'Rasmus Jarlov (KF)',
       'Irene Simonsen (V)', 'Per Løkken', 'Bente Kronborg Holst',
       'Kasper Krüger', 'Connie Hedegaard', 'Søren Gade', 'Thor Pedersen'],
      dtype=object)

In [21]:
ft

['Anders Stjernholm',
 'Carolina Magdalene Maier',
 'Christian Juhl',
 'Christian Poll',
 'Erik Christensen',
 'Josephine Fock',
 'Julius Graakjær Grantzau',
 'Mira Issa Bloch',
 'Pernille Schnoor',
 'Rasmus Nordqvist',
 'Rasmus Prehn',
 'René Gade',
 'Sikandar Siddique',
 'Susanne Zimmer',
 'Torsten Gejl',
 'Uffe Elbæk',
 'Aase D. Madsen',
 'Alex Ahrendtsen',
 'Anita Christensen',
 'Anita Knakkergaard',
 'Bent Bøgsted',
 'Birthe Skaarup',
 'Carsten Kudsk',
 'Christian Langballe',
 'Claus Kvist Hansen',
 'Colette L. Brix',
 'Dennis Flydtkjær',
 'Dorthe Ullemose',
 'Hans Kristian Skibby',
 'Henrik Brodersen',
 'Ib Poulsen',
 'Jacob Jensen',
 'Jan Erik Messmann',
 'Jan Rytkjær Callesen',
 'Jens Henrik Thulesen Dahl',
 'Jeppe Jakobsen',
 'Jesper Langballe',
 'Jørn Dohrmann',
 'Karin Nødgaard',
 'Karina Adsbøl',
 'Karina Due',
 'Karsten Lauritzen',
 'Kenneth Kristensen Berth',
 'Kim Christiansen',
 'Kristian Thulesen Dahl',
 'Liselott Blixt',
 'Marie Krarup',
 'Marlene Harpsøe',
 'Martin Henriksen',
 'Merete Dea Larsen',
 'Mette Frederiksen',
 'Mette Hjermind Dencker',
 'Mia Falkenberg',
 'Mikkel Dencker',
 'Morten Marinus',
 'Morten Messerschmidt',
 'Per Dalgaard',
 'Per Nørhave',
 'Pernille Bendixen',
 'Peter Kofod',
 'Peter Skaarup',
 'Pia Adelsteen',
 'Pia Kjærsgaard',
 'Pia Kristensen',
 'Poul Fischer',
 'Poul Nødgaard',
 'René Christensen',
 'Susanne Eilersen',
 'Søren Espersen',
 'Søren Krarup',
 'Tilde Bork',
 'Tina Petersen',
 'Torsten Schack Pedersen',
 'Uno Larsson',
 'Walter Christophersen',
 'Bruno Jerup',
 'Eva Flyvholm',
 'Finn Sørensen',
 'Frank Aaen',
 'Henning Hyllested',
 'Jakob Sølvhøj',
 'Jens Borking',
 'Jesper Kiel',
 'Johanne Schmidt-Nielsen',
 'Jørgen Arbo-Bæhr',
 'Kaare Dybvad',
 'Keld Albrechtsen',
 'Lars Barfoed',
 'Lars Dohn',
 'Lea Wermelin',
 'Line Barfod',
 'Mai Villadsen',
 'Majbrit Berlau',
 'Maria Reumert Gjerding',
 'Nikolaj Villumsen',
 'Peder Hvelplund',
 'Pelle Dragsted',
 'Per Clausen',
 'Pernille Skipper',
 'Pernille Søndergaard',
 'Pia Boisen',
 'Rasmus Vestergaard Madsen',
 'Rosa Lund',
 'Rune Lund',
 'Sarah Glerup',
 'Signe Færch',
 'Stine Brix',
 'Søren Egge Rasmussen',
 'Søren Søndergaard',
 'Victoria Velasquez',
 'Øjvind Vilsholm',
 'Anfinn Kallsberg',
 'Aaja Chemnitz Larsen',
 'Johan Lund Olsen',
 'Juliane Henningsen',
 'Kuupik Kleist',
 'Sara Olsvig',
 'Sofia Rossen',
 'Aksel V. Johannesen',
 'Bjarni Hammer',
 'Henrik Old',
 'Sjúrður Skaale',
 'Bodil Kornbek',
 'Jann Sjursen',
 'Mogens Nørgård',
 'Per Ørum Jørgensen',
 'Tove Videbæk',
 'Anders Johansson',
 'Benedikte Kiær',
 'Birgitte Bergman',
 'Brian Mikkelsen',
 'Brigitte Klintskov Jerkel',
 'Carina Christensen',
 'Charlotte Dyremose',
 'Christian Wedell-Neergaard',
 'Daniel Rugholm',
 'Else Theill Sørensen',
 'Helge Adam Møller',
 'Jakob Axel Nielsen',
 'Jørgen S. Lundsgaard',
 'Lene Espersen',
 'Mai Mercado',
 'Mette Abildgaard',
 'Mike Legarth',
 'Naser Khader',
 'Per Larsen',
 'Per Stig Møller',
 'Rasmus Jarlov',
 'Søren Pape Poulsen',
 'Tom Behnke',
 'Vivi Kier',
 'Anders Samuelsen',
 'Christina Egelund',
 'Danny K. Malkowski',
 'Henrik Dahl',
 'Joachim B. Olsen',
 'Laura Lindahl',
 'Leif Mikkelsen',
 'May-Britt Kattrup',
 'Merete Riisager',
 'Mette Bock',
 'Ole Birk Olesen',
 'Thyra Frank',
 'Villum Christensen',
 'Lars Boje Mathiesen',
 'Pernille Vermund',
 'Peter Seier Christensen',
 'Aleqa Hammond',
 'Inge-Lene Ebdrup',
 'Abbas Razvi',
 'Andreas Steenberg',
 'Anne Marie Geisler Andersen',
 'Bente Dahl',
 'Charlotte Fischer',
 'Elisabeth Arnold',
 'Elisabeth Geday',
 'Elsebeth Gerner Nielsen',
 'Ida Auken',
 'Ida Jørgensen',
 'Jens Rohde',
 'Johs. Poulsen',
 'Jørgen Poulsen',
 'Katrine Robsøe',
 'Kristian Hegaard',
 'Liv Holm Andersen',
 'Lone Dybkjær',
 'Lotte Rod',
 'Manu Sareen',
 'Margrethe Vestager',
 'Marianne Jelved',
 'Marlene Borst Hansen',
 'Martin Lidegaard',
 'Morten Helveg Petersen',
 'Morten Østergaard',
 'Niels Helveg Petersen',
 'Nils Sjøberg',
 'Ole Glahn',
 'Poul Erik Christensen',
 'Rasmus Helveg Petersen',
 'Sofie Carsten Nielsen',
 'Zenia Stampe',
 'Ane Halsboe-Jørgensen',
 'Anne Paulin',
 'Anne-Marie Meldgaard',
 'Annette Lind',
 'Arne Toft',
 'Astrid Krag',
 'Benny Engelbrecht',
 'Bjarne Laustsen',
 'Bjørn Medom Nielsen',
 'Carsten Bo Jensen',
 'Carsten Hansen',
 'Christian Rabjerg Madsen',
 'Christine Antorini',
 'Dan Jørgensen',
 'Daniel Toft Jakobsen',
 'Dorrit Knudsen',
 'Flemming Møller Mortensen',
 'Frank Jensen',
 'Frode Sørensen',
 'Grethe H. Nielsen',
 'Helge Mortensen',
 'Helle Dam',
 'Helle Thorning-Schmidt',
 'Henning Gjellerod',
 'Henrik Dam Kristensen',
 'Henrik Sass Larsen',
 'Hüseyin Arac',
 'Inger Bierbaum',
 'Jacob Buksti',
 'Jan Johansen',
 'Jan Petersen',
 'Jan Trøjborg',
 'Jens Christian Lund',
 'Jens Joel',
 'Jens Peter Vernersen',
 'Jeppe Bruus',
 'Jeppe Kofod',
 'Jesper Petersen',
 'Jette Bergenholz Bautrup',
 'John Dyrby Paulsen',
 'Julie Rademacher',
 'Julie Skovsby',
 'Jytte Andersen',
 'Jytte Wittrock',
 'Karen Hækkerup',
 'Karen J. Klint',
 'Karin Gaardsted',
 'Kasper Roug',
 'Kim Mortensen',
 'Kirsten Brosbøl',
 'Klaus Hækkerup',
 'Lars Aslan Rasmussen',
 'Lars Kramer Mikkelsen',
 'Leif Lahn Jensen',
 'Lene Hansen',
 'Lene Jensen',
 'Lennart Damsbo-Andersen',
 'Lisbeth Bech Poulsen',
 'Lise von Seelen',
 'Lissa Mathiasen',
 'Lone Møller',
 'Lotte Bundsgaard',
 'Magnus Heunicke',
 'Maja Panduro',
 'Malou Lunderød',
 'Malte Larsen',
 'Margot Torp',
 'Mattias Tesfaye',
 'Mette Gjerskov',
 'Mette Reissmann',
 'Mogens Jensen',
 'Mogens Lykketoft',
 'Morten Bødskov',
 'Nick Hækkerup',
 'Nicolai Wammen',
 'Niels Christian Nielsen',
 'Niels Sindal',
 'Ole Hækkerup',
 'Ole Sohn',
 'Ole Stavad',
 'Ole Vagn Christensen',
 'Orla Hav',
 'Peder Sass',
 'Per Husted',
 'Per Kaalund',
 'Pernille Blach Hansen',
 'Pernille Rosenkrantz-Theil',
 'Peter Hummelgaard Thomsen',
 'Pia Gjellerup',
 'Poul Andersen',
 'Poul Qvist Jørgensen',
 'Rasmus Horn Langhoff',
 'René Skau Björnsson',
 'Ritt Bjerregaard',
 'Sandy Brinck',
 'Simon Kollerup',
 'Sophie Hæstorp Andersen',
 'Svend Auken',
 'Thomas Adelskov',
 'Thomas Horn',
 'Thomas Jensen',
 'Torben Hansen',
 'Trine Bramsen',
 'Troels Ravn',
 'Vibeke Grave',
 'Yildiz Akdogan',
 'Aage Frandsen',
 'Anne Baastrup',
 'Anne Grete Holmsgaard',
 'Anne Valentina Berthelsen',
 'Annette Vilhelmsen',
 'Balder Mørk Andersen',
 'Bilal Inekci',
 'Carl Valentin',
 'Charlotte Broman Mølbæk',
 'Eigil Andersen',
 'Flemming Bonne',
 'Holger K. Nielsen',
 'Jacob Mark',
 'Jane Alrø Sørensen',
 'Jonas Dahl',
 'Jørn Jespersen',
 'Kamal Qureshi',
 'Karina Lorentzen Dehnhardt',
 'Karl H. Bornhøft',
 'Karsten Hønge',
 'Kirsten Normann Andersen',
 'Kristen Touborg',
 'Lene Garsdal',
 'Lotte Thiim Bertelsen',
 'Malene Søgaard-Andersen',
 'Marie Fugl',
 'Meta Fuglsang',
 'Morten Homann',
 'Nanna Westerby',
 'Pernille Frahm',
 'Pernille Vigsø Bagge',
 'Peter Westermann',
 'Pia Olsen Dyhr',
 'Poul Henrik Hedeboe',
 'Sanne Rubinke',
 'Sisse Marie Welling',
 'Steen Gade',
 'Thomas Krog',
 'Tina Boel',
 'Trine Mach',
 'Trine Torp',
 'Villy Søvndal',
 'Özlem Sara Cekic',
 'Doris Jakobsen',
 'Lars-Emil Johansen',
 'Edmund Joensen',
 'Høgni Hoydal',
 'Magni Arge',
 'Tórbjørn Jacobsen',
 'Christian H. Hansen',
 'Gitte Seeberg',
 'Louise Frevert',
 'Peter Brixtofte',
 'Pia Christmas-Møller',
 'Simon Emil Ammitzbøll-Bille',
 'Anne Honoré Østergaard',
 'Anne-Mette Winther Christiansen',
 'Anni Matthiesen',
 'Bertel Haarder',
 'Birgitte Josefsen',
 'Birthe Rønn Hornbech',
 'Britt Bager',
 'Britta Schall Holberg',
 'Carsten Kissmeyer',
 'Charlotte Antonsen',
 'Claus Hjort Frederiksen',
 'Ellen Trane Nørby',
 'Erling Bonnesen',
 'Esben Lunde Larsen',
 'Ester Larsen',
 'Eva Kjer Hansen',
 'Eyvind Vesselbo',
 'Fatma Øktem',
 'Finn Thranum',
 'Flemming Damgaard Larsen',
 'Gitte Lillelund Bech',
 'Hans Andersen',
 'Hans Christian Schmidt',
 'Hans Christian Thoning',
 'Heidi Bank',
 'Helge Sander',
 'Henrik Høegh',
 'Henrik Vestergaard',
 'Inger Støjberg',
 'Jakob Ellemann-Jensen',
 'Jakob Engel-Schmidt',
 'Jan E. Jørgensen',
 'Jane Heitmann',
 'Jens Christian Larsen',
 'Jens Ejner Christensen',
 'Jens Hald',
 'Jens Kirk',
 'Jens Vibjerg',
 'Joan Erlandsen',
 'Jørgen Winther',
 'Karen Ellemann',
 'Karen Jespersen',
 'Karsten Nonbo',
 'Kim Andersen',
 'Kim Valentin',
 'Kristian Jensen',
 'Kristian Pihl Lorentzen',
 'Lars Christian Lilleholt',
 'Lars Løkke Rasmussen',
 'Louise Schack Elholm',
 'Lykke Friis',
 'Mads Rørvig',
 'Marcus Knuth',
 'Marie Bjerre',
 'Marion Pedersen',
 'Marlene Ambo-Rasmussen',
 'Martin Geertsen',
 'Michael Aastrup Jensen',
 'Morten Dahlin',
 'Morten Løkkegaard',
 'Peter Christensen',
 'Peter Juel-Jensen',
 'Preben Bang Henriksen',
 'Preben Rudiengaard',
 'Rikke Hvilshøj',
 'Sophie Løhde',
 'Stén Knuth',
 'Søren Pind',
 'Thomas Danielsen',
 'Tina Nedergaard',
 'Tommy Ahlers',
 'Troels Christensen',
 'Troels Lund Poulsen',
 'Ulla Tørnæs',
 'Hanne Agersnap']

In [22]:
#We can always sort these away later on - for now we have some with and some without
df_m.head()

,Starttid,Sluttid,Navn,Rolle,Tekst,Parti
4,2011-09-30T13:00:52.110,2011-09-30T13:05:42.060,Karen J. Klint,medlem,Tak for det. Det er jo dejligt at se så fyldt ...,S
5,2011-09-30T13:05:42.060,2011-09-30T13:06:52.970,Karen J. Klint,medlem,Vedrørende valget i Grønland indstiller et eni...,S
11,2011-03-02T15:32:15.660,2011-03-02T15:32:46.380,Holger K. Nielsen,formand,Der er ikke mere at foretage i dette møde.Folk...,SF
12,2011-03-02T13:01:23.263,2011-03-02T13:03:10.263,John Dyrby Paulsen,medlem,Tak for det. Jeg står her med en rapport fra F...,S
14,2011-03-02T13:03:11.407,2011-03-02T13:04:19.743,Gitte Lillelund Bech,minister,Jeg takker for spørgsmålet. Hr. John Dyrby Pau...,V

# Inserting dates

In [23]:
#making dates into datetime
df_m.Starttid = pd.to_datetime(df_m.Starttid)
df_m.Sluttid = pd.to_datetime(df_m.Sluttid)

In [24]:
#creating a date columns
df_m['Dato'] = df_m.Starttid.dt.date

In [25]:
#and keeping start and endtime to a time variable
df_m['Starttid'] = df_m['Starttid'].dt.time
df_m['Sluttid'] = df_m['Sluttid'].dt.time

Ideas for features (apart from the ones we have) 
- weekday
- day of month
- month
- length of speech
- year

In [26]:
df_m.iloc[0,-3]

'Tak for det. Det er jo dejligt at se så fyldt en sal og publikumsbænkene. Det er også en højtidelig dag.Som formand for Udvalget til Prøvelse af Valgene kan jeg oplyse følgende om udvalgets arbejde, idet jeg samtidig skal henvise til den offentliggjorte betænkning og indstillingerne:Arbejdet har som sædvanlig vedrørt tre spørgsmål.For det første har det vedrørt spørgsmålet om gyldighed af valghandlingen, herunder valgets forberedelse, stemmeafgivelsen, optællingen af selve stemmesedlerne, vurderingen af dem samt valgbøgerne og disses førelse m.m.For det andet har det vedrørt spørgsmålet om godkendelse af ændringer af de af Indenrigs- og Sundhedsministeriets foretagne opgørelser og beregninger. For det tredje har det vedrørt spørgsmålet om godkendelse af de kandidater, der har opnået valg.Om gyldigheden af valghandlingen kan jeg sige, at vi i udvalget har gennemgået Indenrigs- og Sundhedsministeriets redegørelse, der indeholder de bemærkninger, som gennemgangen af valgbogsudskrifterne har givet ministeriet anledning til. Hvert valg har sine udfordringer. Det lige overståede valg havde dog nogle, vi ikke har set før – situationer, der alle er løst kvalificeret af kommunerne og af valgbestyrelserne. Jeg vil så tillade mig at nævne et par af dem her:Ved gennemgangen af ministeriets redegørelse har udvalget særlig bemærket, at det i valgbogen for Guldborgsundkredsen er oplyst, at et afstemningssted måtte flyttes på selve valgdagen på grund af sundhedsskadelige omstændigheder. Det lykkedes at flytte afstemningsstedet på mindre end 2½ time. Endvidere blev der taget forholdsregler, der sikrede, at vælgerne ikke gik forgæves til det oprindelige afstemningssted. I valgbogen for Middelfartkredsen er det oplyst, at 121 brevstemmer gik tabt på grund af brand i Søndersø Rådhus. Det lykkedes dog kommunen at identificere de pågældende brevstemmeafgivere, som fik mulighed for at stemme på ny. I valghåndbogen for Københavns Storkreds, 7. kreds, Brønshøj, er anført en bemærkning om, at man på afstemningsstedet 7. kreds Nord, Tingbjerg, valgdagen igennem oplevede en mindre gruppe af personer, der opfordrede vælgerne til at undlade at stemme. Valgbestyrelsen var løbende i dialog med den pågældende gruppe og politiet. Sidste hændelsesforløb fremgår også af en af de klager, udvalget har behandlet. Når jeg nævner dem, er det for at rose de valgbestyrelser og de kommuner, der har håndteret nogle atypiske situationer, og det synes jeg godt at vi som Folketing kan være stolte af.Vi har i alt i udvalget forholdt os til 33 klager og henvendelser vedrørende valghandlingen, der har foreligget i forbindelse med folketingsvalget 2011. Ingen af de modtagne klager giver anledning til at så tvivl om valgets resultat.Med hensyn til udvalgets indstilling til de modtagne klager skal jeg henvise til betænkningen, hvori alle klager er oplistet og kommenteret. Jeg vil tillade mig kort her kun at gøre opmærksom på to af udvalgets bemærkninger:Flere af klagerne omhandler håndtering af brevafstemningen. Udvalgets bemærkning til Indenrigs- og Sundhedsministeriet går på at overveje, hvorvidt regler, vejledninger m.v. omkring brevafstemning kan forbedres, herunder overveje, om der skal være et fast klokkeslæt for sidste frist for afgivning af brevstemmerne.Et par klager vedrørende agitation m.v. nær et valgsted har vi også forholdt os til, og udvalgets bemærkning til Indenrigs- og Sundhedsministeriet går på at overveje, hvorvidt reglerne for agitation m.m. nær et valgsted eventuelt bør revurderes.Vedrørende spørgsmålet om godkendelse af Indenrigs- og Sundhedsministeriets opgørelse og beregninger har udvalget behandlet godkendelsen af disse, og de samlede opgørelser og beregninger har ikke givet anledning til bemærkninger fra udvalget. Hvad angår spørgsmålet om godkendelse af de valgte har udvalget følgende indstilling:Vedrørende valget i Danmark indstiller udvalget i enighed, at Folketinget godkender det den 15. september 2011 afholdte valg af medlemmer til Folketinget, de af Indenrigs- og Sundhedsministeriet den 28. september 2011 fremsendte beregninger og opgørelser vedrørende dette valg og de på den omdelte særskilte valgkredsfortegnelse opførte 175 kandidater som valgte fra og med den 15. september 2011.'

# Starting text-processing

### Removing simple things using gensim

In [27]:
import nltk

In [28]:
#nltk.download('stopwords')

In [29]:
#dk_sw

In [30]:
from gensim import utils
import gensim.parsing.preprocessing as gsp

unable to import 'smart_open.gcs', disabling that module

In [31]:
filters = [
           gsp.strip_tags, 
           gsp.strip_punctuation,
           gsp.strip_multiple_whitespaces,
           gsp.strip_numeric
          ]

In [32]:
def clean_text(s):
    s = s.lower()
    s = utils.to_unicode(s)
    for f in filters:
        s = f(s)
    return s

In [33]:
#apply clean-text function to all the text
df_m['Tekst'] = df_m['Tekst'].apply(lambda x: clean_text(x))

### Tokenizing text

In [34]:
#looking at the same line of text as above
#df_m.iloc[0,-3] #something definitily changed - good

In [35]:
from nltk.tokenize import word_tokenize

In [36]:
#tokenizing all text
df_m['t_text'] = df_m['Tekst'].apply(lambda x: word_tokenize(x))

### Removing stopwords

In [37]:
#defining the danish stopwords
dk_sw = nltk.corpus.stopwords.words('danish')

In [38]:
#adding stopwords
more_stopwords = ['ministeren',
'værsgo',
'så',
'tak',
'ja',
'svare',
'ordføreren',
'svar',
'spørgsmålet',
'svarer', 'spørgsmål', 'ordfører','hr','fru']

In [39]:
for word in more_stopwords:
    dk_sw.append(word)

In [40]:
#dk_sw

In [41]:
#ttt = df_m.iloc[0,-1]

In [42]:
df_m['t_tekst_clean'] = df_m['t_text'].apply(lambda x: [word for word in x if not word in dk_sw])

### Removing the 'formand' of folketinget - it is usually not important the things he is saying

In [43]:
df_m = df_m[~df_m.Rolle.isin(['formand'])]

In [44]:
df_m.head()

,Starttid,Sluttid,Navn,Rolle,Tekst,Parti,Dato,t_text,t_tekst_clean
4,13:00:52.110000,13:05:42.060000,Karen J. Klint,medlem,tak for det det er jo dejligt at se så fyldt e...,S,2011-09-30,"[tak, for, det, det, er, jo, dejligt, at, se, ...","[dejligt, se, fyldt, sal, publikumsbænkene, hø..."
5,13:05:42.060000,13:06:52.970000,Karen J. Klint,medlem,vedrørende valget i grønland indstiller et eni...,S,2011-09-30,"[vedrørende, valget, i, grønland, indstiller, ...","[vedrørende, valget, grønland, indstiller, eni..."
12,13:01:23.263000,13:03:10.263000,John Dyrby Paulsen,medlem,tak for det jeg står her med en rapport fra fo...,S,2011-03-02,"[tak, for, det, jeg, står, her, med, en, rappo...","[står, rapport, forsvarets, færdselssikkerheds..."
14,13:03:11.407000,13:04:19.743000,Gitte Lillelund Bech,minister,jeg takker for spørgsmålet hr john dyrby pauls...,V,2011-03-02,"[jeg, takker, for, spørgsmålet, hr, john, dyrb...","[takker, john, dyrby, paulsen, fuldstændig, re..."
16,13:04:20.913000,13:05:18.180000,John Dyrby Paulsen,medlem,tak for svaret det er jeg jo enig med minister...,S,2011-03-02,"[tak, for, svaret, det, er, jeg, jo, enig, med...","[svaret, enig, svært, uenig, underligt, rappor..."

### Stemming words

In [45]:
from nltk.stem import SnowballStemmer

In [46]:
#choosing the stemmer
stemmer = SnowballStemmer("danish")

In [47]:
#testing 
stemmer.stem("købte")

'købt'

In [48]:
df_m['stemmed'] = df_m['t_tekst_clean'].apply(lambda x: [stemmer.stem(item) for item in x])

#stemmed_spanish = [stemmer.stem(item) for item in spanish_words]

In [49]:
df_m.head()

,Starttid,Sluttid,Navn,Rolle,Tekst,Parti,Dato,t_text,t_tekst_clean,stemmed
4,13:00:52.110000,13:05:42.060000,Karen J. Klint,medlem,tak for det det er jo dejligt at se så fyldt e...,S,2011-09-30,"[tak, for, det, det, er, jo, dejligt, at, se, ...","[dejligt, se, fyldt, sal, publikumsbænkene, hø...","[dej, se, fyld, sal, publikumsbænk, højtid, da..."
5,13:05:42.060000,13:06:52.970000,Karen J. Klint,medlem,vedrørende valget i grønland indstiller et eni...,S,2011-09-30,"[vedrørende, valget, i, grønland, indstiller, ...","[vedrørende, valget, grønland, indstiller, eni...","[vedrør, valg, grønland, indstil, enig, udvalg..."
12,13:01:23.263000,13:03:10.263000,John Dyrby Paulsen,medlem,tak for det jeg står her med en rapport fra fo...,S,2011-03-02,"[tak, for, det, jeg, står, her, med, en, rappo...","[står, rapport, forsvarets, færdselssikkerheds...","[står, rapport, forsvar, færdselssikkerhedskom..."
14,13:03:11.407000,13:04:19.743000,Gitte Lillelund Bech,minister,jeg takker for spørgsmålet hr john dyrby pauls...,V,2011-03-02,"[jeg, takker, for, spørgsmålet, hr, john, dyrb...","[takker, john, dyrby, paulsen, fuldstændig, re...","[tak, john, dyrby, pauls, fuldstænd, ret, audi..."
16,13:04:20.913000,13:05:18.180000,John Dyrby Paulsen,medlem,tak for svaret det er jeg jo enig med minister...,S,2011-03-02,"[tak, for, svaret, det, er, jeg, jo, enig, med...","[svaret, enig, svært, uenig, underligt, rappor...","[svar, enig, svært, uen, under, rapport, færds..."

#### Removing stemmed stopwords

In [50]:
#extra stopwords
esw = ['kan', 'kom', 'sig', 'gør','få','–','«','»','men','altså']

df_m['stemmed'] = df_m['stemmed'].apply(lambda x: [word for word in x if not word in esw])

### Counting most frequent words

In [51]:
from collections import Counter

In [52]:
count = 'no'

In [53]:
if count == 'yes':
    #counting words from the tokenized words
    aggregate_counter = Counter()
    for row_index,row in df_m.iterrows():
        if row_index%1000==0:
            print(row_index)
        c = Counter(row['t_text'])
        aggregate_counter += c
        
    #defining common words
    common_words = [word[0] for word in aggregate_counter.most_common(50)]
    common_words_counts = [word[1] for word in aggregate_counter.most_common(50)]

In [54]:
# Defining function to count it
import matplotlib.pyplot as plt
import seaborn as sns

def barplot(words, words_counts, title):
    fig = plt.figure(figsize=(18,6))
    bar_plot = sns.barplot(x=words, y=words_counts)
    for item in bar_plot.get_xticklabels():
        item.set_rotation(90)
    plt.title(title)
    plt.show()

In [55]:
#plotting the most used words in folketinget
if count == 'yes':
    barplot(words=common_words, words_counts=common_words_counts, title='Most Frequent Words used in Folketinget')

# Classifying the text

In [56]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans
import numpy as np
import pandas as pd

In [57]:
def dummy_fun(doc):
    return doc

tfidf = TfidfVectorizer(
    analyzer='word',
    tokenizer=dummy_fun,
    preprocessor=dummy_fun,
    token_pattern=None)

In [58]:
docs = list(df_m.stemmed)

Using the TFIDF weighting of the words: 
> frequency-inverse document frequency weighting: words that occur frequently within a document but not frequently within the corpus receive a higher weighting as these words are assumed to contain more meaning in relation to the document.

In [59]:
tfidf.fit(docs)

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.float64'>, encoding='utf-8',
                input='content', lowercase=True, max_df=1.0, max_features=None,
                min_df=1, ngram_range=(1, 1), norm='l2',
                preprocessor=<function dummy_fun at 0x1276a0510>,
                smooth_idf=True, stop_words=None, strip_accents=None,
                sublinear_tf=False, token_pattern=None,
                tokenizer=<function dummy_fun at 0x1276a0510>, use_idf=True,
                vocabulary=None)

In [60]:
#fitting the tdfif vectorizer to our documents
vector = tfidf.transform(docs)

In [61]:
#printing the number of different words
len(tfidf.get_feature_names())

92580

In [62]:
#checking the shape
vector.shape

(129843, 92580)

It is as supposed. It has the exact amount of lines as we have speeches and cols as we have words.

In [63]:
X = vector

In [94]:
from sklearn.externals import joblib

In [95]:
def kmeans_clusters(k_, document_tfidf_matrix):
    true_k = k_
    model = KMeans(n_clusters=true_k, init='k-means++', max_iter=100, n_init=1)
    model.fit(document_tfidf_matrix)
    
    #saving the model:
    joblib.dump(model,  '../data/clusters/model_'+str(true_k)+'.pkl')
    
    #get the top words in centroids:
    order_centroids = model.cluster_centers_.argsort()[:, ::-1]
    terms = tfidf.get_feature_names()
    
    #creating list of the clusters
    list_ = []
    for i in range(true_k):
        list_.append("Cluster %d" % i)
        
    #creating empty df
    df_ = pd.DataFrame(columns = list_)
    
    for i in range(true_k):
        #cerating empty list
        lst = []
        for ind in order_centroids[i, :10]:
            #append top 5 words to list
            lst.append(terms[ind])
        #insert lst into pandas on the correct column
        df_[list_[i]] = pd.Series(lst)
        
    #keeping the top n (I chose n=6) words that are nearest to the cluster centroid in a pd and saving to csv
    #printing to csv
    df_.to_csv('../data/clusters/clusters_'+str(true_k)+'.csv')

#### Running function in iterations

In [104]:
n_clusters = list(range(5,31,5))

In [105]:
n_clusters

[5, 10, 15, 20, 25, 30]

In [106]:
for k in n_clusters:
    print(k)
    kmeans_clusters(k,X)

5
10
15
20
25
30

In [103]:
#len(clusters)

# Multidimensional scaling to visualize clusters

In [ ]:
#Load models
km = joblib.load('../data/clusters/model_30.pkl')
clusters = km.labels_.tolist()

In [110]:
import matplotlib.pyplot as plt
import matplotlib as mpl

from sklearn.manifold import MDS

MDS()

MDS(dissimilarity='euclidean', eps=0.001, max_iter=300, metric=True,
    n_components=2, n_init=4, n_jobs=None, random_state=None, verbose=0)

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
dist = 1 - cosine_similarity(X)

In [ ]:
# convert two components as we're plotting points in a two-dimensional plane
# "precomputed" because we provide a distance matrix
# we will also specify `random_state` so the plot is reproducible.
mds = MDS(n_components=2, dissimilarity="precomputed", random_state=1)

pos = mds.fit_transform(dist)  # shape (n_components, n_samples)

xs, ys = pos[:, 0], pos[:, 1]
print()
print()

#### Running everything manually

In [ ]:
true_k = 10
model = KMeans(n_clusters=true_k, init='k-means++', max_iter=100, n_init=1)
model.fit(X)

In [ ]:
order_centroids = model.cluster_centers_.argsort()[:, ::-1]
terms = tfidf.get_feature_names()

In [ ]:
list_ = []
for i in range(true_k):
    list_.append("Cluster %d" % i)

In [ ]:
df = pd.DataFrame(columns = list_)

In [ ]:
for i in range(true_k):
    #print("Cluster %d:" % i),
    lst = []
    for ind in order_centroids[i, :5]:
        #print(' %s' % terms[ind])
        lst.append(terms[ind])
    df[list_[i]] = pd.Series(lst)

In [ ]:
#df.to_csv('../data/clusters/test_'+str(true_k)+'.csv')

In [ ]:
#print to check
p = 'no'

if p=='yes':
    for i in range(true_k):
        print("Cluster %d:" % i),
        for ind in order_centroids[i, :5]:
            print(' %s' % terms[ind])