In [1]:
import pandas as pd

In [8]:
#reading the data and resetting index
df = pd.read_csv('../data/DPC_speeches.csv')
df = df.reset_index().iloc[:,2:]

In [10]:
#looking at the data
df.head()

,Tale,Starttid,Sluttid,Navn,Rolle,Tekst
0,None,2011-09-30T13:00:16.860,2011-09-30T13:00:28.140,None,midlertidig formand,Mødet er åbnet.
1,None,2011-09-30T13:55:01.640,2011-09-30T13:55:12.063,None,midlertidig formand,Så er mødet genoptaget.
2,None,2011-09-30T13:59:37.437,2011-09-30T13:59:56.640,None,formand,Der er ikke mere at foretage i dette møde.Folk...
3,None,2011-09-30T13:00:28.140,2011-09-30T13:00:52.110,None,midlertidig formand,Forhandlingen er åbnet. Fru Karen Klint.
4,None,2011-09-30T13:00:52.110,2011-09-30T13:05:42.060,Karen J. Klint,medlem,Tak for det. Det er jo dejligt at se så fyldt ...

In [14]:
#checking whether "Tale" is always None
df.Tale.unique()

array(['None'], dtype=object)

In [16]:
#excluding "Tale"
df = df[['Starttid', 'Sluttid', 'Navn', 'Rolle', 'Tekst']]

In [18]:
df.head(1)

,Starttid,Sluttid,Navn,Rolle,Tekst
0,2011-09-30T13:00:16.860,2011-09-30T13:00:28.140,None,midlertidig formand,Mødet er åbnet.

In [13]:
#checking type of the start and end-time
type(df.iloc[0,1])

str

In [20]:
df.describe()

,Starttid,Sluttid,Navn,Rolle,Tekst
count,236966,236966,236966,236966,236966
unique,236966,236958,318,6,152763
top,2012-05-31T10:04:55.200,2009-10-21T14:20:29.493,None,formand,Ordføreren.
freq,1,2,43200,122597,22926

In [21]:
df.dtypes

Starttid    object
Sluttid     object
Navn        object
Rolle       object
Tekst       object
dtype: object